
.quicksand-primary_font {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.raleway-secondary_font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.displaying{
  display: none;
}
.menu{
  width: 30px;
  height: 30px;
}
.body{
  margin: 0px;
}
.school{
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}
.header_item-1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 11px;
}
.items{
  font-size: 20px;
  font-weight: normal;
}
.home{
  color: rgba(254, 163, 1, 1);
  margin: 0px;
}
.about{
  color: rgba(1, 172, 253, 1);
  margin: 0px;
}
.fac{
  color: rgba(5, 212, 223, 1);
  margin: 0px;
}
.adm{
  color: rgba(93, 88, 239, 1);
  margin: 0px;
}
.header_item-2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.con{
width: 197px;
height: 50px;
background-color: rgba(254, 163, 1, 1);
color: white;
font-size: 20px;
font-weight: bold;
border-radius: 12px;
border: none;

}
.header_item-3{
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 140px;
}
.Empor{
  font-size: 56px;
  font-weight: bold;
  margin: 0px;
}
.span1{
  color: rgba(254, 163, 1, 1);
}
.span2{
  color: rgba(1, 172, 253, 1);
}
.with{
  font-size: 20px;
  font-weight: normal;
  margin: 0px;
}
.enrol{
  width: 197px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(17, 17, 17, 1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: none;
}
.item-1_section_1{
  width: 640px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.first_sec{
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.stan{
  margin: 0px;
  font-size: 46px;
  font-weight: bold;
}
.kin{
  margin: 0px;
  font-size: 24px;
  font-weight: bold;
}
.railway_pera{
  margin: 0px;
  font-weight: normal;
  font-size: 15px;
  color: rgba(128, 128, 128, 1);
}
.readmore{
  font-size: 15px;
  font-weight: bold;
}
.second_sec{
  background-image: url(/assets/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.container{
  display: flex;
  flex-direction: row;
  gap: 28px;
  justify-content: center;
  align-items: center;
}
.container_items{
  width: 360px;
  height: 476px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
   
    border-radius: 18px;
    
}
.container_items:hover{
 box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
}
.orange_div{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(254, 163, 1, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.orange_div:hover{
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
}
.arrow{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.making_30{
  width: 30px;
  height: 30px;
}

@media screen and (max-width:576px)  {
  .header_item-2{
    display: none;
  }
  .header_item-3, .school{
    display: none;
  }
  .header_item-4{
    display: block;
  }
  .header{
    margin: 12px auto;
    width: 90%;
  }
  .first_sec{
    margin: 12px 16px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
  }
 .item-1_section_1{
  width: 90%;
  justify-content: center;
  align-items: center;
  text-align: center;
 }
 .hero{
  width: 356px;
  height: 430px;
 }
 .container{
  flex-direction: column;
  gap: 12px;
 }
 .container_items{

   box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
 }
 .second_sec{
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
 }
.stan{
  font-size: 25px;
}
.arrow{
  display: none;
}
}