
.quicksand-primary_font {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.raleway-secondary_font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.displaying{
  display: none;
}
.menu{
  width: 30px;
  height: 30px;
}
.body{
  margin: 0px;
}
.school{
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}
.header_item-1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 11px;
}
.items{
  font-size: 20px;
  font-weight: normal;
}
.home{
  color: rgba(254, 163, 1, 1);
  margin: 0px;
}
.about{
  color: rgba(1, 172, 253, 1);
  margin: 0px;
}
.fac{
  color: rgba(5, 212, 223, 1);
  margin: 0px;
}
.adm{
  color: rgba(93, 88, 239, 1);
  margin: 0px;
}
.header_item-2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.con{
width: 197px;
height: 50px;
background-color: rgba(254, 163, 1, 1);
color: white;
font-size: 20px;
font-weight: bold;
border-radius: 12px;
border: none;

}
.header_item-3{
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 140px;
}
.Empor{
  font-size: 56px;
  font-weight: bold;
  margin: 0px;
}
.span1{
  color: rgba(254, 163, 1, 1);
}
.span2{
  color: rgba(1, 172, 253, 1);
}
.with{
  font-size: 20px;
  font-weight: normal;
  margin: 0px;
}
.enrol{
  width: 197px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(17, 17, 17, 1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: none;
}
.item-1_section_1{
  width: 640px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.first_sec{
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.stan{
  margin: 0px;
  font-size: 46px;
  font-weight: bold;
}
.kin{
  margin: 0px;
  font-size: 24px;
  font-weight: bold;
}
.railway_pera{
  margin: 0px;
  font-weight: normal;
  font-size: 15px;
  color: rgba(128, 128, 128, 1);
}
.readmore{
  font-size: 15px;
  font-weight: bold;
}
.second_sec{
  background-image: url(/assets/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.container{
  display: flex;
  flex-direction: row;
  gap: 28px;
  justify-content: center;
  align-items: center;
}
.container_items{
  width: 360px;
  height: 476px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
   
    border-radius: 18px;
    
}
.container_items:hover{
 box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
}
.orange_div{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(254, 163, 1, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.orange_div:hover{
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
}
.arrow{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.making_30{
  width: 30px;
  height: 30px;
}
.date{
  font-size: 15px;
  font-weight: normal;
  width: 174px;
  height: 47px;
  border-radius: 48px;
  background-color: rgba(60, 216, 232, 1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -30px;
  bottom: -0px;
  left: 30px;
}
.fun{
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-top: 3px;
  margin-left: 30px;
  width: 350px;
}
.beau{
  font-size: 15px;
  font-weight: normal;
  margin: 0px;
  margin-top: 30px;
  margin-left: 30px;
  width: 380px;
}

.funtodler{
  width: 440px;
  height: calc(254.03px*2 + 13px);
  border-radius: 16px;
  background-color: white;
  position: relative;
  top: 15px;
}
.funtodler:hover{
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
}
.third_sec_image{
  width: 100%;
  height: auto; 
  border-radius: 16px 16px 0px 0px;
}
.sec_date{
  background-color: rgba(149, 178, 38, 1);
  height: 38px;

}
.find_out{
  font-size: 15px;
  font-weight: bold;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 0px;
  margin-bottom: 15px;
}
.insided_io{
  width: 260px;
  height: auto;
  border-radius: 16px;
  background-color: white;
}
.insided_io:hover{
   box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
}
.container_third_sec{
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.insided-container_io{
  display: grid;
  height: 491.41px;
  grid-template-columns: repeat(2,1fr);
  gap: 11.5px;
}

.third_sec{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  gap: 60px;
  
  
 
}
.makinf_worse{
  margin: 0px;
 padding-top: 52px;
 padding-bottom: 52px;
  background-image: linear-gradient(
      to right, 
      rgba(254, 163, 1, 0.3), 
      rgba(255, 255, 255, 0.3)
    ), url(/assets/bg.png);
  background-position: center;
  
  background-size: cover;
}
.kids_education{
  font-size: 42px;
  font-weight: bold;
  margin: 0px;
  width: 200px;
  height: auto;
}
.piza{
  margin: 0px;
  font-size: 20px;
  font-weight: normal;
  width: 350px;
  height: auto;
}
.abou_school{
  font-weight: bold;
  font-size: 24px;
  margin: 0px;
}
.fact{
  font-size: 20px;
  font-weight: normal;
  margin: 0px;
}
.touch{
font-size: 26px;
font-weight: bold;
margin: 0px;
}
.footer{
  margin-top: 12px;
  height: auto;
  background-color: rgba(1, 172, 253, 1);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 130px;
  padding: 120px 220px 150px 140px;
}
.kids_edu{
  display: flex;
  align-items: center;
  gap: 10px;
}
.flexing_piza{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.flexing_ul{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.flexing_touch{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.logos{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media screen and (max-width:576px)  {
  .header_item-2{
    display: none;
  }
  .header_item-3, .school{
    display: none;
  }
  .header_item-4{
    display: block;
  }
  .header{
    margin: 12px auto;
    width: 90%;
   
  }
 
  .first_sec{
    margin: 12px 16px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
  }
 .item-1_section_1{
  width: 90%;
  justify-content: center;
  align-items: center;
  text-align: center;
 }
 .hero{
  width: 356px;
  height: 430px;
 }
 .container{
  flex-direction: column;
  gap: 12px;
 }
 .container_items{

   box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
 }
 .second_sec{
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
 }
.stan{
  font-size: 25px;
}
.arrow{
  display: none;
}
.funtodler{
  display: none;
}
.insided-container_io{
  grid-template-columns: 1fr;
  height: auto;
}
.footer{
  flex-direction: column;
 padding-left: 0px;
 padding-right: 0px;
  gap: 32px;
 justify-content: flex-start;
}
.flexing_ul{
  margin-right: 190px;
}
.abou_school{
  width: 200px;
}
.flexing_piza{
 margin-right: 60px;
}
.flexing-touch{
  justify-content: flex-start;
}
}