
.quicksand-primary_font {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.raleway-secondary_font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.body{
  margin: 0px;
}
.school{
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}
.header_item-1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 11px;
}
.items{
  font-size: 20px;
  font-weight: normal;
}
.home{
  color: rgba(254, 163, 1, 1);
  margin: 0px;
}
.about{
  color: rgba(1, 172, 253, 1);
  margin: 0px;
}
.fac{
  color: rgba(5, 212, 223, 1);
  margin: 0px;
}
.adm{
  color: rgba(93, 88, 239, 1);
  margin: 0px;
}
.header_item-2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.con{
width: 197px;
height: 50px;
background-color: rgba(254, 163, 1, 1);
color: white;
font-size: 20px;
font-weight: bold;
border-radius: 12px;
border: none;

}
.header_item-3{
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 140px;
}